@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);

body{
    background: #FDFDFD;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #000029;
}
a {
    text-decoration: none;
    color: #000029;
}
.body_content{
    max-width: 1400px;
    margin: auto;
}
.header {
    height: 80px;
    padding-top: 25px;
    position: sticky;
    top: 0;
    right: 0;
    background-color: #FDFDFD;
}
.flex_box {
    display: flex;
    justify-content: space-between;
}
.logo img{
    max-width: 220px;
}
.menu{
    display: flex;
    justify-content: space-between;
    .menu__item{
        padding-right: 50px;
        font-size: 16px;
    }
}
.menu__item:last-child {
    padding-right: 0px;
}
.lang-switcher{
    display: flex;
    justify-content: space-between;
}
.section1 {
    margin: 20px 0 40px 0;
    padding: 5px;
    border: 1px solid #000029;
    border-radius: 7px;
}
.section1_gridBox {
    display: grid;
    width: 100%;
    grid-template-columns: 240px 850px 310;
}
.gridItem1 {
    grid-column: 1;
    grid-row-start: 1;
}
.mePhoto {
    width: 240px;
    border-radius: 7px;
}
.gridItem2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0px 60px;

}
h1{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding: 10px 0px 10px 0px;
    margin: 0;
}
.work {
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding: 10px 0px 20px 0px;
    margin: 0;
}
.forMe{
    padding: 20px 0 20px 0;
    margin: 0;
}
.gridItem3{
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
}
ul {
    width: 100%;
    list-style-type: none;
    padding-left: 0;
}
.info__item{
    font-size: 15px;
    font-weight: 400;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #000029;
    background-color: #000029;
    border-radius: 7px;
    a{
        color: #FDFDFD;
    }
}
.pdf{
    color: red;
}
.block2{
    margin: 0 0 40px 0;
}