* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Base colors */
    --primary-color: #1C1C21;
    --secondary-color: #fff;
    --red-color: #E02500;

    /* light theme color */
    --background-primary-light: #fff;
    --color-light: #070708;
    --primary-color-light: #A1A9AA;
    --link-light: #777777;

    /* dark theme color */
    --background-primary-dark: #070708;
    --color-dark: #fff;
    --primary-color-dark: #1C1C21;
    --link-dark: #AFB0B6;

    /* Sizes */
    --container-width: 1200px;
    --header-height: 80px;

    /* Indents */
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 3rem;
    --spacing-xl: 4rem;
}
[data-theme="light"] {
    --background-primary: var(--background-primary-light);
    --color: var(--color-light);
    --primary-color: var(--primary-color-light);
    --link: var(--link-light);
}
[data-theme="dark"] {
    --background-primary: var(--background-primary-dark);
    --color: var(--color-dark);
    --primary-color: var(--primary-color-dark);
    --link: var(--link-dark);
}

body {
    overflow-x: hidden;
    margin: 0;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    background: var(--background-primary);
    transition: 0.6s linear;
}

.app {
    background: var(--background-primary);
}

.main {
    max-width: var(--container-width);
    margin: 0;
    padding: var(--spacing-md);
    padding-top: calc(var(--header-height) + var(--spacing-md));
}

img {
    max-width: 100%;
    height: auto;
}

div {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}
.main {
    padding: 119px 0 0 0;
}
.container {
    transition: all 500ms linear;
}

.dark {
    background: var(--primary-color);
    color: var(--secondary-color);
}

.light {
    background: var(--secondary-color);
    color: var(--primary-color);
}
  
