.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 119px;
    width: 1920px;
    padding: 0 125px 0 125px;
    background: var(--background-primary);
    transition: 0.6s linear;
    z-index: 10000;
    border-bottom: 1px solid var(--primary-color);
}

.logo {
    padding: 34px 40px 32px 40px;
    height: 119px;
    border-left: 1px solid var(--primary-color);
}
.logo span {
    color: var(--color);
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -1;
}

.menu__burger {
    display: none;
}

.nav {
    margin-top: 32px;
    display: flex;
}
.nav a {
    color: var(--color);
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 30px 40px;
    border: 1px solid var(--primary-color);
    border-bottom: none;
}
.nav a:first-child {
    border-radius: 10px 0 0 0;
}
.nav a:last-child {
    border-radius: 0 10px 0 0;
}
.nav a:hover {
    background: var(--primary-color);
}

.socialsBlock {
    padding: 34px 40px 32px 40px;
    border-right: 1px solid var(--primary-color);
}
.socials:hover {
    transition: all 0.3s ease;
    background: var(--red-color);
}
.socials {
    color: var(--color);
    font-weight: 500;
    font-size: 18px;
    padding: 16px 24px;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}


@media (max-width: 390px) {
    .header {
        max-width: 390px;
        height: 108px;
        padding: 0 16px;
        align-items: center;
        border-right: 1px solid #1C1C21;
    }
    .logo {
        height: 108px;
        border-left: 1px solid #1C1C21;
        padding: 65px 0 25px 16px;
    }
    .logo span {
        font-size: 18px;
    }
    .menu__burger {
        display: none;
    }
    .nav {
        display: none;
    }
    .socialsBlock {
        display: none;
    }
}
